Target port in `CONNECT` method should be figured out from `request-target` (not `Host` header)

Because there's no guarantee, that it will present there, yet client may mean different port than 443 (`CONNECT` can be used for websockets w/o SSL, where we need 80 port). 
 `request-target` will always contain port (see [RFC 7231, section 4.3.6: CONNECT](https://tools.ietf.org/html/rfc7231#section-4.3.6)), so using it won't break some client implementations (i/e. [websocket-sharp](https://github.com/sta/websocket-sharp)).
I can do a PR if you want..

I can't tell from from the spec whether the hosts header may not contain a port when a connection is not meant for port 443. I can of course add functionality to try deduce the port from the request-target if one is not present in the hosts header.

My point is that it's guranteed that port will present in `request-target`, while `Host` is not.

Whoops, I missed the spot, because [RFC 7230, section 5.4: Host](https://tools.ietf.org/html/rfc7230#section-5.4) says:
> If the target URI includes an authority component, then a
   client MUST send a field-value for Host that is identical to that
   authority component, excluding any userinfo subcomponent and its "@"
   delimiter (Section 2.7.1).

Probably should create an issue in [websocket-sharp](https://github.com/sta/websocket-sharp)

But I still think, that trying to figure out port using more sources is better (because standards are not always followed).

I agree, I'll add it just in case someone comes across a similar scenario.

@DCNick3 Is [this](https://github.com/MihaZupan/HttpToSocks5Proxy/commit/3817fdb9070a90e7e9fe48dc84dd35ae963a59a6) okay? I don't really have the means to test it.

Well, It works for me, other cases seem sane.
Thanks.